# H-1B Visa Petitions 2011-2016

In [1]:
import pandas as pd
import numpy as np
import datetime


import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="white", color_codes=True)



# Read data 
d=pd.read_csv("h1b_kaggle.csv")

In [2]:
d['EMPLOYER_NAME'].value_counts().head(15)

INFOSYS LIMITED                                    130592
TATA CONSULTANCY SERVICES LIMITED                   64726
WIPRO LIMITED                                       48117
DELOITTE CONSULTING LLP                             36742
IBM INDIA PRIVATE LIMITED                           34219
ACCENTURE LLP                                       33447
MICROSOFT CORPORATION                               25576
HCL AMERICA, INC.                                   22678
ERNST & YOUNG U.S. LLP                              18232
COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION     17528
LARSEN & TOUBRO INFOTECH LIMITED                    17457
CAPGEMINI AMERICA INC                               16725
GOOGLE INC.                                         16473
IBM CORPORATION                                     13276
IGATE TECHNOLOGIES INC.                             12564
Name: EMPLOYER_NAME, dtype: int64

In [3]:
t=d[d['WORKSITE']=='PHILADELPHIA, PENNSYLVANIA']
t['EMPLOYER_NAME'].value_counts().head(25)

DELOITTE CONSULTING LLP                            6166
TRUSTEES OF THE UNIVERSITY OF PENNSYLVANIA         2199
DELOITTE & TOUCHE LLP                               841
INFOSYS LIMITED                                     798
TEMPLE UNIVERSITY--A COMMONWEALTH UNIVERSITY        781
ACCENTURE LLP                                       503
COMCAST CABLE COMMUNICATIONS, LLC                   438
THE CHILDREN'S HOSPITAL OF PHILADELPHIA             405
COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION     320
THOMAS JEFFERSON UNIVERSITY                         313
ERNST & YOUNG U.S. LLP                              302
WIPRO LIMITED                                       285
TATA CONSULTANCY SERVICES LIMITED                   230
THOMAS JEFFERSON UNIVERSITY HOSPITAL                228
TEMPLE UNIVERSITY HEALTH SYSTEM                     227
DREXEL UNIVERSITY                                   195
ALBERT EINSTEIN MEDICAL CENTER                      174
UST GLOBAL INC.                                     169
UST GLOBAL INC                                      154
KPMG LLP                                            138
URBAN OUTFITTERS, INC.                              129
CAPGEMINI AMERICA INC                               117
THE WISTAR INSTITUTE OF ANATOMY AND BIOLOGY         114
DATA-CORE SYSTEMS, INC                              107
LIQUIDHUB, INC.                                      86
Name: EMPLOYER_NAME, dtype: int64

In [4]:
t=d[d['EMPLOYER_NAME']=='COMCAST CABLE COMMUNICATIONS, LLC']
t['PREVAILING_WAGE'].value_counts().tolist
#sns.distplot(t['PREVAILING_WAGE']);
t=t[t['PREVAILING_WAGE']<500000]
sns.distplot(t['PREVAILING_WAGE']);
#t['PREVAILING_WAGE'].describe()

In [5]:
t[(t['SOC_NAME']=='COMPUTER AND INFORMATION SYSTEMS MANAGERS') & (t['PREVAILING_WAGE'] < 90000)]

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
1001582,1001583,CERTIFIED,"COMCAST CABLE COMMUNICATIONS, LLC",COMPUTER AND INFORMATION SYSTEMS MANAGERS,"PROJECT MANAGER, SCRUM MASTER 4",Y,88400.0,2015.0,"PHILADELPHIA, PENNSYLVANIA",-75.165222,39.952584

In [6]:
tt=t[ (t['PREVAILING_WAGE'] < 95000)]
tt['SOC_NAME'].value_counts().head(20)

Software Developers, Applications                   152
SOFTWARE DEVELOPERS, APPLICATIONS                   143
Computer Systems Analysts                            72
Network and Computer Systems Administrators          70
Computer Software Engineers, Applications            68
Software Developers, Systems Software                43
Computer Software Engineers, Systems Software        40
COMPUTER OCCUPATIONS, ALL OTHER                      36
Network and Computer Systems Administrators*         30
COMPUTER SYSTEMS ANALYSTS                            28
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS          28
Database Administrators                              19
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE                18
Computer Occupations, All Other                      18
COMPUTER NETWORK ARCHITECTS                          15
Operations Research Analysts                         13
DATABASE ADMINISTRATORS                               8
OPERATIONS RESEARCH ANALYSTS                          7
Network Systems and Data Communications Analysts      6
Management Analysts                                   6
Name: SOC_NAME, dtype: int64

In [7]:
tt=t[ (t['PREVAILING_WAGE'] >= 95000)]
tt['SOC_NAME'].value_counts().head(20)

SOFTWARE DEVELOPERS, APPLICATIONS              86
Software Developers, Applications              38
COMPUTER OCCUPATIONS, ALL OTHER                31
COMPUTER AND INFORMATION SYSTEMS MANAGERS      22
COMPUTER SYSTEMS ANALYSTS                      19
Computer and Information Systems Managers      19
Software Developers, Systems Software          18
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE          12
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS    11
Computer Systems Analysts                      11
DATABASE ADMINISTRATORS                         8
GENERAL AND OPERATIONS MANAGERS                 4
COMPUTER NETWORK ARCHITECTS                     4
Managers, All Other                             4
Network and Computer Systems Administrators     4
Database Administrators                         3
Computer Network Architects                     3
Management Analysts                             3
Chief Executives                                3
Sales Managers                                  3
Name: SOC_NAME, dtype: int64

In [8]:
d['title']=d['SOC_NAME'].str.upper()
d['title'].head()

0    BIOCHEMISTS AND BIOPHYSICISTS
1                 CHIEF EXECUTIVES
2                 CHIEF EXECUTIVES
3                 CHIEF EXECUTIVES
4                 CHIEF EXECUTIVES
Name: title, dtype: object

In [9]:
# SOFTWARE ALL
t=d[d.title.str.match(r'.*SOFTWARE.*', na=False)]
t = t[(t['PREVAILING_WAGE']>= 0) & (t['PREVAILING_WAGE']<=150000)]
sns.distplot(t['PREVAILING_WAGE']);